* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

* {
    touch-action: none;
}

h3 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1vh;
}

article:first-child {
    margin-bottom: 1vh;
}

section {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    margin: 2vh;
    padding: 2vh;
    border-radius: 1vh;
    font-size: 1.25rem;
}

@media (max-width: 1200px) {
    section {
        font-size: 3rem;
    }
}

#boxes {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#leftBox {
    background-color: dodgerblue;
    flex-grow: 1;
}

#rightBox {
    background-color: orangered;
    flex-grow: 1;
}
